{% extends "/layout/admin/base.html" %}

{% block css %}
<style>
</style>
{% endblock %}

{% block content %}
<section class="content" style="padding-top: 16px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">源站分类本地分类绑定: {{website.name}}</h3>
                    </div>

                    <form role="form" method="post" action="{{path_for('adminMovieWebSiteBindCategorySave')}}">
                    <div class="card-body">
                        <input type="hidden" name="websiteId" value="{{website.id}}">
                        {% for sourceCategoryId, sourceCategory in sourceCategories %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-2">
                                    <label>{{sourceCategory}}</label>
                                    <input type="hidden" name="sourceCategoryId[]" value="{{sourceCategoryId}}">
                                </div>
                                <div class="col-5">
                                    <select name="localCategoryId-{{sourceCategoryId}}" class="form-control">
                                        <option value="0">无</option>
                                        {% for c in categories %}
                                        <option value="{{c['id']}}"
                                            {% if movieSiteCategoryRelationArr[sourceCategoryId]['local_category_id'] == c['id'] %}selected{% endif %}>{{c['name']}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-5 align-middle">
                                    <label>是否外显</label>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="isShow-{{sourceCategoryId}}" value="1"
                                               {% if (movieSiteCategoryRelationArr[sourceCategoryId] is empty) or  movieSiteCategoryRelationArr[sourceCategoryId]['is_show'] == 1
                                        %}checked{% endif %}>
                                        <label class="form-check-label">是</label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="isShow-{{sourceCategoryId}}" value="0"
                                               {% if movieSiteCategoryRelationArr[sourceCategoryId] and movieSiteCategoryRelationArr[sourceCategoryId]['is_show'] == 0
                                        %}checked{% endif %}>
                                        <label class="form-check-label">否</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.card-header -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.row -->
    </div>

</section>

{% endblock %}
