{% if searchMovieList != false %}

<div class="row category-block ml-0 mr-0 mb-1">
    {% for movie in searchMovieList['data'] %}
    <div class="col-6 col-md-4 col-xl-2 mb-2">
        <a class="text-dark text-decoration-none" href="{{ path_for('indexDetail', {}, {'id': movie.id})}}">
            <div class="card" >
                <div class="card-img-top movie-cover-container">
                    <img class=" movie-cover img-thumbnail" src="{{movie['pic']}}" alt="Card image cap">
                </div>
                <div class="card-body p-1">
                    <p class="card-text text-truncate small">{{movie['name']}}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<div class="row ">
    <div class="m-auto">
        {{links (searchMovieList, true, '')}}
    </div>
</div>
{% endif %}