{% extends "/layout/index/base.html" %}

{% block css %}
<link rel="stylesheet" href="/dplayer/DPlayer.min.css">
<style>
    #current-play {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    {{ include('index/_navbar.html') }}
    {% if breadcrumb != false %}
    {{breadcrumb(breadcrumb, '', '')}}
    {% endif %}
    <div class="alert alert-warning" role="alert">
        播放不了的就换别的源，如果只有一个源，就看别的去
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div><img src="{{movie.pic}}" style="width: 100%"></div>
        </div>
        <div class="col-sm-10">
            <div>
                {{movie.name}} <span class="small">{{movie.note}}</span><br/>
                {{movie.category.name}} {{movie.director}} {{movie.actor}} {{movie.lang}} {{movie.area}}
                {{movie.year}}<br/>
                <span class="small">{{movie.description|striptags}}</span>
            </div>
        </div>
    </div>
    <div class="alert alert-primary mt-2" id="current-play" role="alert">
        A simple primary alert—check it out!
    </div>
    <div id="dplayer"></div>
    {% for sourceMovie in movie.sourceMovies %}
    <div class="card mb-2 mt-2">
        <h5 class="card-header">{{sourceMovie.sourceWebsite.name}}</h5>
        <div class="card-body">
            {% for movieList in sourceMovie.format_movie_list %}
            <button type="button"
                    id="{{sourceMovie.sourceWebsite.name}}-{{loop.index}}"
                    class="btn btn-primary btn-sm playBtn mb-2"
                    data-source-name="{{sourceMovie.sourceWebsite.name}}"
                    data-movie-name="{{movie.name}}"
                    data-video-name="{{movieList.name}}"
                    data-index="{{loop.index}}"
                    data-url="{{movieList.url}}">
                {{movieList.name}}
            </button>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{{ include('index/_footer.html') }}
{% endblock %}
{% block js %}
<script src="/js/hls.min.js"></script>
<script src="/dplayer/DPlayer.min.js"></script>
<script>
    let nextName = null;
    let nextIndex = 0;

    function getNextVideo() {
        let ele = $('#' + nextName + '-' + nextIndex);
        if (ele == undefined || ele[0] == undefined) {
            return '';
        }
        let sourceName = ele.data('sourceName');
        let movieName = ele.data('movieName');
        let videoName = ele.data('videoName');
        let url = ele.data('url');
        nextIndex++;

        $("#current-play").text('正在播放:' + sourceName + '-' + movieName + '-' + videoName)
        $("#current-play").css('display', 'block');

        return url;
    }

    function getPreVideo() {
        let ele = $('#' + nextName + '-' + (nextIndex - 2));
        if (ele == undefined || ele[0] == undefined) {
            return '';
        }
        let sourceName = ele.data('sourceName');
        let movieName = ele.data('movieName');
        let videoName = ele.data('videoName');
        let url = ele.data('url');
        nextIndex--;

        $("#current-play").text('正在播放:' + sourceName + '-' + movieName + '-' + videoName)
        $("#current-play").css('display', 'block');

        return url;
    }

    function changeVideo(player, url) {
        if (url === "") {
            player.fullScreen.cancel('web');
            player.fullScreen.cancel('browser');
            return;
        }
        player.switchVideo({
            url: url,
            type: "hls"
        });
        player.play();
    }

    $(function () {
        $('.playBtn').click(function () {
            nextName = $(this).data('sourceName');
            nextIndex = $(this).data('index');
            let url = getNextVideo();

            if (url === '') {
                return;
            }

            const dp = new DPlayer({
                container: document.getElementById("dplayer"),
                autoplay: true,
                video: {
                    url: url,
                    type: "hls",
                },
                contextmenu: [
                    {
                        text: '上一集',
                        click: (player) => {
                            let url = getPreVideo();
                            changeVideo(player, url);
                        },
                    },
                    {
                        text: '下一集',
                        click: (player) => {
                            let url = getNextVideo();
                            changeVideo(player, url);
                        },
                    },
                ],
            });

            dp.on("ended", function () {
                console.log("播放完成");
                let url = getNextVideo();
                changeVideo(dp, url);
            });
        });
    });
</script>
{% endblock %}