{% extends "/layout/index/base.html" %}

{% block css %}
<style>
    #iframe {
        width: 100%;
        border: 0;
        overflow: hidden;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <a href="{{ path_for('index')}}">首页</a>
    <div class="row">
        <div class="col-sm-2">
            <div><img src="{{movie.pic}}" style="width: 100%"></div>
        </div>
        <div class="col-sm-10">
            <div>
                {{movie.name}} <span class="small">{{movie.note}}</span><br/>
                {{movie.category.name}} {{movie.director}} {{movie.actor}} {{movie.lang}} {{movie.area}}
                {{movie.year}}<br/>
                <span class="small">{{movie.description|striptags}}</span>
            </div>
        </div>
    </div>
    <iframe frameborder="0" id="iframe" class="mt-2 mb-2"></iframe>
    {% for sourceMovie in movie.sourceMovies %}
    <div class="card mb-2 mt-2">
        <h5 class="card-header">{{sourceMovie.sourceWebsite.name}}</h5>
        <div class="card-body">
            {% for movieList in sourceMovie.format_movie_list %}
            <button type="button" class="btn btn-primary btn-sm playBtn mb-2" data-url="{{movieList.url}}">
                {{movieList.name}}
            </button>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
{% block js %}
<script>
    $(function () {
        let frameWidth = $('#iframe').innerWidth()
        console.log(frameWidth);
        console.log(Math.ceil(frameWidth / 4 * 3))
        $('#iframe').height(Math.ceil(frameWidth / 4 * 3))
        $("#iframe").css('display', 'none');


        $('.playBtn').click(function () {
            let url = $(this).data('url');
            // let screenWidth = $(window).width();
            // if (screenWidth > 820) {
            //     screenWidth = 800;
            // } else {
            //     screenWidth = screenWidth - 20;
            // }
            //
            // let screenHeight = Math.ceil(screenWidth / 4 * 3);

            let script = '<html>' +
                '<head></head>' +
                '<link rel="stylesheet" href="http://vd.h57.pw/dplayer/DPlayer.min.css">' +
                '<style>' +
                'html' +
                '{' +
                'padding:0;margin:0;' +
                '}' +
                'body' +
                '{' +
                'width:100vw;height:100vh;' +
                '}' +
                '</style>' +
                '<body>' +
                '<div id="dplayer" style="width: 100vw;height: 100vh;"></div>' +
                '<script src="http://vd.h57.pw/js/hls.min.js"><' +
                '/script><script src="http://vd.h57.pw/dplayer/DPlayer.min.js"><' +
                '/script><script>' +
                'const dp = new DPlayer({' +
                'container: document.getElementById("dplayer"),' +
                'video: {' +
                'url: "' + url + '",' +
                'type: "hls"' +
                '}' +
                '});<' +
                '/script>' +
                '</body>' +
                '</html>';
            $('#iframe').attr('srcdoc', script);
            $("#iframe").css('display', 'block');
        });
    });
</script>
{% endblock %}