{% extends "/layout/index/base.html" %}

{% block css %}
<link href="/dplayer/DPlayer.min.css" rel="stylesheet">
<style>
    #video{
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <a href="{{ path_for('index')}}">首页</a>
    <div class="row">
        <div class="col-sm-2">
            <div><img src="{{movie.pic}}" style="width: 100%"></div>
        </div>
        <div class="col-sm-10">
            <div>
                {{movie.name}} <span class="small">{{movie.note}}</span><br />
                {{movie.category.name}} {{movie.director}} {{movie.actor}} {{movie.lang}} {{movie.area}} {{movie.year}}<br />
                <span class="small">{{movie.description}}</span>
            </div>
        </div>
    </div>
    <div id="video" style="width:600px;height:400px;" class="mt-3 mb-3"></div>
    {% for sourceMovie in movie.sourceMovies %}
    <div class="card mb-2 mt-2">
        <h5 class="card-header">{{sourceMovie.sourceWebsite.name}}</h5>
        <div class="card-body">
            {% for movieList in sourceMovie.format_movie_list %}
            <button type="button" class="btn btn-primary btn-sm playBtn mb-2" data-url="{{movieList.url}}">{{movieList.name}}</button>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<div id="dplayer" style="width:600px;height:400px;" class="mt-3 mb-3"></div>

{% endblock %}
{% block js %}
<script src="/js/hls.min.js"></script>
<script src="/dplayer/DPlayer.min.js"></script>
<script src="/ckplayer/ckplayer.js"></script>

<script>
    $(function(){
        const dp = new DPlayer({
            container: document.getElementById('dplayer'),
            video: {
                url: '/test',
                type: 'hls'
            }
        });
        $('.playBtn').click(function() {
            let url = $(this).data('url');
            $("#video").css('display', 'block');
            var videoObject = {
                container: '#video',//“#”代表容器的ID，“.”或“”代表容器的class
                variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
                flashplayer:false,//如果强制使用flashplayer则设置成true
                video:url//视频地址
            };
            var player=new ckplayer(videoObject);
        });
    });
</script>
{% endblock %}