{% extends "/layout/index/base.html" %}

{% block css %}
<style>
    .full-category-list.category-block:last-child {
        margin-bottom: 2rem!important;
    }
    .movie-cover-container {
        position: relative;
        width: 100%;
        padding-top: 150%; /* 1:1 Aspect Ratio */
    }
    .movie-cover {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container pr-0 pl-0">
    {{ include('index/_navbar.html') }}

    {% if breadcrumb != false %}
    {{breadcrumb(breadcrumb, '', '')}}
    {% endif %}
    {{ include('index/_indexWithFullCategory.html') }}
    {{ include('index/_indexWithCategoryList.html') }}
    {{ include('index/_indexWithSearchList.html') }}
</div>

{{ include('index/_footer.html') }}

{% endblock %}
