{% extends "/layout/index/base.html" %}

{% block css %}
<style>
    .category-block:last-child {
        margin-bottom: 6rem!important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container pr-0 pl-0">
    {{ include('index/_navbar.html') }}

    <ul>
        {% for movie in movies %}
        <li><a href="{{ path_for('indexDetail', {}, {'id': movie.id})}}">{{movie.name}}</a></li>
        {% endfor %}
    </ul>
    {% for newestMovieList in newestMovieListByCategory %}
    <div class="row category-block ml-0 mr-0 mb-5">
        <div class="col-md-2 col-12">
            {{newestMovieList['category']['name']}}
        </div>
        <div class="col-md-10 col-12">
            <div class="row">
                {% for movie in newestMovieList['movieList'] %}
                <div class="col-3">
                    <div class="card" >
                        <img class="card-img-top" src="{{movie['pic']}}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-truncate">{{movie['name']}}</p>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}


</div>

<footer class="fixed-bottom container pr-0 pl-0 pt-3 pb-3 text-center bg-light small">
    {{ title|default('') }}为您提供最新好看的电视剧、电影、动漫、综艺节目推荐和排行榜并可在线免费观看最新动作片、喜剧片、爱情片、搞笑片高清下载等,高清视频免费电影网站尽在{{ title|default('') }}。
    <br />
    本网站为非赢利性站点，所有内容均由机器人采集于互联网，视频内容请查看播放源，本站不存储任何内容！
</footer>
{% endblock %}
