{% extends "/layout/admin/base.html" %}

{% block css %}
<style>
</style>
{% endblock %}

{% block content %}
<section class="content" style="padding-top: 16px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">新增分类</h3>
                    </div>
                    <!-- /.card-header -->
                    <form role="form" method="post" action="{{path_for('adminCategoryUpdate')}}">
                        {{ include('admin/category/_form.html') }}
                        <input type="hidden" name="id" value="{{category.id}}">
                    </form>
                </div>
            </div>
        </div><!-- /.row -->
    </div>

</section>

{% endblock %}
