<li class="nav-item">
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">LinkLinkLinkLinkLinkLinkLinkLinkLinkLinkLink</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li><li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li>



<li class="nav-item">
    <a class="nav-link dropdown-toggle" href="#collapseExample" id="navbarDropdown" role="button" data-toggle="collapse" aria-controls="collapseExample">
        Dropdown
    </a>
    <div class="collapse" id="collapseExample">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider mr-3"></div>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
</li>